In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df = pd.read_csv('../input/addition/addition.csv')

In [3]:
df

    value1  value2  value3  output
0        1       3       2       6
1        4       5       4      13
2        7       7       7      21
3        6       5       5      16
4        3       2       2       7
5        1       1       1       3
6        2       2       2       6
7        2       3       3       8
8        3       3       3       9
9        1       2       3       6
10       4       5       1      10
11     100     200     300     600
12     700     100     200    1000
13      20      20      10      50
14       1      20       3      24
15     100    1000     100    1200
16       1      10      20      31
17      40      50      20     110
18      15      15      10      40
19      12      13      15      40
20       3       2      10      15
21     500     500     500    1500
22     200     300     300     800
23       1      10      10      21
24      30      30      30      90
25      20      20      20      60
26      50      50     100     200
27      10      10      10      30
28       2       3       5      10
29      50      40      50     140

In [4]:
x = df[['value1','value2','value3']]
y = df.output

In [5]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3)

In [6]:
abc = linear_model.LinearRegression()

In [7]:
abc.fit(xtrain,ytrain)

LinearRegression()

In [8]:
ypred = abc.predict(xtest)

In [9]:
NDS = pd.DataFrame()

In [10]:
NDS['value1'] = xtest['value1']
NDS['value2'] = xtest['value2']
NDS['value3'] = xtest['value3']
NDS['orgin - output'] = ytest.copy()
NDS['predict - output'] = ypred.copy()

In [11]:
NDS

    value1  value2  value3  orgin - output  predict - output
18      15      15      10              40              40.0
14       1      20       3              24              24.0
6        2       2       2               6               6.0
25      20      20      20              60              60.0
19      12      13      15              40              40.0
16       1      10      20              31              31.0
22     200     300     300             800             800.0
4        3       2       2               7               7.0
26      50      50     100             200             200.0

In [12]:
abc.coef_

array([1., 1., 1.])

In [13]:
abc.intercept_

-8.526512829121202e-14

In [14]:
print(metrics.mean_absolute_error(ytest,ypred))

7.539647918343285e-14

In [15]:
print(metrics.mean_squared_error(ytest,ypred))

6.1152497372732835e-27

In [16]:
print(np.sqrt(metrics.mean_squared_error(ytest,ypred)))

7.82000622587558e-14

In [17]:
print((metrics.r2_score(ytest,ypred))*100)

100.0

In [18]:
abc.predict([[100,45,67]])

array([212.])